<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" type="text/css" href="css/login.css"/>

        <script type="application/javascript" href="js/selectionValuePath.js"></script>
    </head>

    <body>
        <div id="content">
            {{{ body }}}
        </div>
    </body>
</html>
