{{!--
    Invisible dummy frame to redirect response answer
    to this to don't reload the page after request.
--}}
<iframe style="display: none" name="dummyframe" id="dummyframe"></iframe>

{{#if valid}}
    <!--Correct Token-->
{{else}}
    <form id="login_form" action="/" method="get">
        <label for="token">Token:</label><br>
        <input type="text" id="token" name="token" placeholder="token"><br>

        <input type="submit" value="Login">
    </form>
{{/if}}
