{{!--
    Invisible dummy frame to redirect response answer
    to this to don't reload the page after request.
--}}
<iframe style="display: none" name="dummyframe" id="dummyframe"></iframe>

{{#if valid}}
    <!--Correct Token-->
{{else}}
    <form id="login_form" action="/" method="get">
        <label for="token" id="token_label">Token:</label><br>
        <input type="text" id="token" name="token"><br>

        <button type="submit" id="token_submit">Login</button>
    </form>
{{/if}}
