{{!--
    Invisible dummy frame to redirect response answer
    to this to don't reload the page after request.
--}}
<iframe style="display: none" name="dummyframe" id="dummyframe"></iframe>

<select id="bot_selection" class="botSelection">
    <option value="">--Select Bot--</option>
    <option value="{{allClients bot_list}}">All</option>
    {{#each bot_list}}
        <option value="_{{this.user.id}}">{{this.user.username}}</option>
    {{/each}}
</select>



<script>
    var url = new URL(location.href);
    var params = new URLSearchParams(url.search);
    if (params.get('bot')) {
        document.getElementById('bot_selection').value = params.get('bot');
    }

    window.onload = function() {
        /*
        if (!this.value) {
            params.delete('bot');
        } else {
            params.set('bot', this.value);
        }

        location.search = params;
        */
        let onchangefunction = 'this.value?params.set("bot",this.value):params.delete("bot"),location.search=params;';

        for(const object of document.getElementsByClassName('botSelection')) {
            object.setAttribute('onchange', onchangefunction);
        }
    }

    /*function returnUrlSearchParams(param, val) {
        var url = new URL(location.href);
        var params = new URLSearchParams(url.search);

        if (!val) {
            params.delete(param);
            return params;
        }

        params.set(param, val);
        return params;
    }*/
</script>
