<iframe style="display: none" name="dummyframe" id="dummyframe"></iframe>

{{#if valid}}
    <script>
        window.location.pathname = '/bot/';
    </script>
{{else}}
    <form id="login_form" action="/" method="get">
        <label for="token" id="token_label">Login</label><br>
        <div class="text-align-left margin-bottom-20">
            <h5 class="default-margin-5">Token</h5>
            <input type="text" id="token" name="token"><br>
        </div>

        <button type="submit" class="button-blue">Login</button>
    </form>
{{/if}}
